.footer {
	background-color: $primary-color;
	color: #fff;
	padding-top: 2em;
	
	a {
		color: #fff;
	}
	
	.sock {
		background-color: $primary-color;
		padding-top: 1em;
	}
	
}

.footer-menu {
	margin: 0;
	margin-top: 2em;
	margin-bottom: 3em;
	overflow: hidden;
	
	ul {
		margin: 0;
	}
	
	li {
		list-style: none;
		font-size: .925em;
		line-height: 2em;
		
		&.column {
			@media #{$medium-up} {
				@include grid-column($columns:2);
			}
		}
	}
}