$h1-font-size: rem-calc(44);
$h2-font-size: rem-calc(37);
$h3-font-size: rem-calc(27);
$h4-font-size: rem-calc(23);
$h5-font-size: rem-calc(18);
$h6-font-size: 1rem;
$rhythm: 1.5rem;

html, body {
	font-family: $font-family;
	line-height: $base-line-height;
}

%hN {
  	font-family: $font-family;
	text-rendering: optimizeLegibility; 
	display: block;
	font-weight: 600;
//	line-height: 1.125em;
	margin-bottom: .5em;
}

h1,
.alpha {
	@extend %hN;
	font-size: $h2-font-size;

	@media #{$medium-up} {
		font-size: $h1-font-size;
	}
}

h2,
.beta {
	@extend %hN;
	font-size: $h3-font-size;

	@media #{$medium-up} {
		font-size: $h2-font-size;
	}
}

h3,
.gamma {
	@extend %hN;
	font-size: $h4-font-size;

	@media #{$medium-up} {
		font-size: $h3-font-size;
	}
}

h4,
.delta {
	@extend %hN;
	font-size: $h5-font-size;

	@media #{$medium-up} {
		font-size: $h4-font-size;
	}
}

h5,
.epsilon {
	@extend %hN;
	font-size: $h6-font-size;

	@media #{$medium-up} {
		font-size: $h5-font-size;
	}
}

h6,
.zeta {
	@extend %hN;
	font-size: $h6-font-size;
}

p {
	font-family: $sans-font-family-2;
	font-weight: 200;
}

a {
	color: $primary-color;
}

blockquote {
	margin-bottom: 2em;
	
	p {
		font-size: 2em;
		line-height: 1.5em;
		margin-bottom: 2em;
	}
}

ul {
	list-style: none;
	margin: 0;
}

.serif {
	font-family:$serif-font-family;
}

.sans {
	font-family:$font-family;
}

.normal {
	font-weight: 400;
}

.light {
	font-weight: 300;
}

.lighten {
	color: #666;
}

.no-margin {
	margin-bottom: .5em;
}

.rhythm {
	margin-bottom: 1em;
}

.rhythm-2 {
	margin-bottom: 2em;
}

.rhythm-up {
	margin-top: 1em;
}