<ul class="nav-apps">
	<li class="logo"><img src="http://placehold.it/45x45"></li>
	<li><a href=""><span class="icon-envelope"></span> <span class="show-for-xxlarge-up">Mail</span></a></li>
	<li><a href=""><span class="icon-folder"></span> <span class="show-for-xxlarge-up">Files</span></a></li>
	<li><a href=""><span class="icon-calendar"></span> <span class="show-for-xxlarge-up">Calendar</span></a></li>
</ul>
