<!-- Code -->
<fieldset>
      <p><button>Button</button></p>
      <p><a href="#" class="button">.button a:link</a></p>
      <p><button type="submit">Button type submit</button></p>
      <p><button type="button" class="disabled" disabled>Button type button disabled</button></p>
      <p><button type="button" class="secondary">Secondary button</button></p>
      <p><button type="button" class="secondary disabled" disabled>Secondary button disabled</button></p>
      <p><button type="button" class="success">Button type success</button></p>
      <p><button type="reset" class="value">Button type value</button></p>
      <p><input type="button" value="Input type highlight" class="highlight button"></p>
      <p><input type="reset" value="Input type alert" class="alert button"></p>
      <p><input type="submit" value="Input type warning" class="warning button"></p>
      <p><input type="submit" value="Input type submit disabled" class="disabled button" disabled></p>
      <p><button class="small inline">Button</button><button class="small inline secondary">Button</button></p>
</fieldset>
<!--end code-->
