<table class="mini-calendar">
	<thead>
		<tr>
			<th class="prev" style="visibility: visible;">
				<i class="fa fa-chevron-left fi-arrow-left"></i>
			</th>
			<th colspan="5" class="date-switch">February 2012</th>
			<th class="next" style="visibility: visible;">
				<i class="fa fa-chevron-right fi-arrow-right"></i>
			</th>
		</tr>
		
		<tr>
			<th class="dow">Su</th>
			<th class="dow">Mo</th>
			<th class="dow">Tu</th>
			<th class="dow">We</th>
			<th class="dow">Th</th>
			<th class="dow">Fr</th>
			<th class="dow">Sa</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="day old">29</td>
			<td class="day old">30</td>
			<td class="day old">31</td>
			<td class="day">1</td>
			<td class="day">2</td>
			<td class="day">3</td>
			<td class="day">4</td>
		</tr>

		<tr>
			<td class="day">5</td>
			<td class="day">6</td>
			<td class="day">7</td>
			<td class="day">8</td>
			<td class="day">9</td>
			<td class="day">10</td>
			<td class="day">11</td>
		</tr>

		<tr>
			<td class="day  ">12</td>
			<td class="day  ">13</td>
			<td class="day  ">14</td>
			<td class="day  ">15</td>
			<td class="day   active">16</td>
			<td class="day  ">17</td
			><td class="day  ">18</td>
		</tr>

		<tr>
			<td class="day  ">19</td>
			<td class="day  ">20</td>
			<td class="day  ">21</td>
			<td class="day  ">22</td>
			<td class="day  ">23</td>
			<td class="day  ">24</td>
			<td class="day  ">25</td>
		</tr>

		<tr>
			<td class="day  ">26</td>
			<td class="day  ">27</td>
			<td class="day  ">28</td>
			<td class="day  ">29</td>
			<td class="day   new">1</td>
			<td class="day   new">2</td>
			<td class="day   new">3</td>
		</tr>

		<tr>
			<td class="day   new">4</td>
			<td class="day   new">5</td>
			<td class="day   new">6</td>
			<td class="day   new">7</td>
			<td class="day   new">8</td>
			<td class="day   new">9</td>
			<td class="day   new">10</td>
		</tr>
	</tbody>

	<tfoot>
		<tr>
			<th colspan="7" class="today" style="display: none;">Today</th>
		</tr>
	</tfoot>
</table>
