<div class="row collapse"> 
	<div class="medium-10 small-8 columns">
		<input id="text" type="text" placeholder="Text Input">
	</div>
	
	<div class="medium-2 small-4 columns">	
		<button type="button" class="secondary postfix">Start</button>
	</div>
</div>
