<fieldset class="wrap-set">
	<div class="field-container">
		<label for="text">Text Input <abbr title="Required">*</abbr></label>
		<input id="text" type="text" placeholder="Text Input">
	</div>
	<div class="field-container">
		<label for="password">Password</label>
		<input id="password" type="password" placeholder="Type your Password">
	</div>
	<div class="field-container">
		<p><button type="button" class="secondary expand">Start</button></p>
	</div>
</fieldset>