<div class="hero row">
	<div class="medium-7 columns">
		<%= partial "shared/_messaging-button" %>
	</div>

	<div class="medium-5 columns">
		<figure class="hero-image">
			<img src="images/hero1.png" />
		</figure>
	</div>
</div>