<h5>Icons:</h5>

<ul class="icon-grid">
<li><span class="icon-twitter-circle"></span></li>
<li><span class="icon-google-circle"></span></li>
<li><span class="icon-facebook-circle"></span></li>
<li><span class="icon-music"></span></li>
<li><span class="icon-search"></span></li>
<li><span class="icon-envelope-o"</span></li>
<li><span class="icon-heart"></span></li>
<li><span class="icon-star"></span></li>
<li><span class="icon-star-o"></span></li>
<li><span class="icon-user"></span></li>
<li><span class="icon-film"></span></li>
<li><span class="icon-th-large"></span></li>
<li><span class="icon-th"></span></li>
<li><span class="icon-th-list"></span></li>
<li><span class="icon-check"></span></li>
<li><span class="icon-times"></span></li>
<li><span class="icon-search-plus"></span></li>
<li><span class="icon-search-minus"></span></li>
<li><span class="icon-power-off"></span></li>
<li><span class="icon-signal"></span></li>
<li><span class="icon-gear"></span></li>
<li><span class="icon-trash-o"></span></li>
<li><span class="icon-home"></span></li>
<li><span class="icon-file-o"></span></li>
<li><span class="icon-clock-o"></span></li>
<li><span class="icon-road"></span></li>
<li><span class="icon-download"></span></li>
<li><span class="icon-arrow-circle-o-down"></span></li>
<li><span class="icon-arrow-circle-o-up"></span></li>
<li><span class="icon-inbox"></span></li>
<li><span class="icon-play-circle-o"></span></li>
<li><span class="icon-rotate-right"></span></li>
<li><span class="icon-refresh"></span></li>
<li><span class="icon-list-alt"></span></li>
<li><span class="icon-lock"></span></li>
<li><span class="icon-flag"></span></li>
<li><span class="icon-headphones"></span></li>
<li><span class="icon-volume-off"></span></li>
<li><span class="icon-volume-down"></span></li>
<li><span class="icon-volume-up"></span></li>
<li><span class="icon-qrcode"></span></li>
<li><span class="icon-barcode"></span></li>
<li><span class="icon-tag"></span></li>
<li><span class="icon-tags"></span></li>
<li><span class="icon-book"></span></li>
<li><span class="icon-bookmark"></span></li>
<li><span class="icon-print"></span></li>
<li><span class="icon-camera"></span></li>
<li><span class="icon-font"></span></li>
<li><span class="icon-bold"></span></li>
<li><span class="icon-italic"></span></li>
<li><span class="icon-text-height"></span></li>
<li><span class="icon-text-width"></span></li>
<li><span class="icon-align-left"></span></li>
<li><span class="icon-align-center"></span></li>
<li><span class="icon-align-right"></span></li>
<li><span class="icon-align-justify"></span></li>
<li><span class="icon-list"></span></li>
<li><span class="icon-dedent"></span></li>
<li><span class="icon-indent"></span></li>
<li><span class="icon-video-camera"></span></li>
<li><span class="icon-picture-o"></span></li>
<li><span class="icon-pencil"></span></li>

<li><span class="icon-map-marker"></span></li>

<li><span class="icon-adjust"></span></li>

<li><span class="icon-tint"></span></li>

<li><span class="icon-edit"></span></li>

<li><span class="icon-share-square-o"></span></li>

<li><span class="icon-check-square-o"></span></li>

<li><span class="icon-arrows"></span></li>

<li><span class="icon-step-backward"></span></li>

<li><span class="icon-fast-backward"></span></li>

<li><span class="icon-backward"></span></li>

<li><span class="icon-play"></span></li>

<li><span class="icon-pause"></span></li>

<li><span class="icon-stop"></span></li>

<li><span class="icon-forward"></span></li>

<li><span class="icon-fast-forward"></span></li>

<li><span class="icon-step-forward"></span></li>

<li><span class="icon-eject"></span></li>

<li><span class="icon-chevron-left"></span></li>

<li><span class="icon-chevron-right"></span></li>

<li><span class="icon-plus-circle"></span></li>

<li><span class="icon-minus-circle"></span></li>

<li><span class="icon-times-circle"></span></li>

<li><span class="icon-check-circle"></span></li>

<li><span class="icon-question-circle"></span></li>

<li><span class="icon-info-circle"></span></li>

<li><span class="icon-crosshairs"></span></li>

<li><span class="icon-times-circle-o"></span></li>

<li><span class="icon-check-circle-o"></span></li>

<li><span class="icon-ban"></span></li>

<li><span class="icon-arrow-left"></span></li>

<li><span class="icon-arrow-right"></span></li>

<li><span class="icon-arrow-up"></span></li>

<li><span class="icon-arrow-down"></span></li>

<li><span class="icon-mail-forward"></span></li>

<li><span class="icon-expand"></span></li>

<li><span class="icon-compress"></span></li>

<li><span class="icon-plus"></span></li>

<li><span class="icon-minus"></span></li>

<li><span class="icon-asterisk"></span></li>

<li><span class="icon-exclamation-circle"></span></li>

<li><span class="icon-fire"></span></li>

<li><span class="icon-eye"></span></li>

<li><span class="icon-eye-slash"></span></li>

<li><span class="icon-warning"></span></li>

<li><span class="icon-plane"></span></li>

<li><span class="icon-calendar"></span></li>

<li><span class="icon-random"></span></li>

<li><span class="icon-comment"></span></li>

<li><span class="icon-magnet"></span></li>

<li><span class="icon-chevron-up"></span></li>

<li><span class="icon-chevron-down"></span></li>

<li><span class="icon-retweet"></span></li>

<li><span class="icon-shopping-cart"></span></li>

<li><span class="icon-folder"></span></li>

<li><span class="icon-folder-open"></span></li>

<li><span class="icon-arrows-v"></span></li>

<li><span class="icon-arrows-h"></span></li>

<li><span class="icon-bar-chart-o"></span></li>

<li><span class="icon-twitter-square"></span></li>

<li><span class="icon-facebook-square"></span></li>

<li><span class="icon-camera-retro"></span></li>

<li><span class="icon-key"></span></li>

<li><span class="icon-gears"></span></li>

<li><span class="icon-comments"></span></li>

<li><span class="icon-thumbs-o-up"></span></li>

<li><span class="icon-thumbs-o-down"></span></li>

<li><span class="icon-star-half"></span></li>

<li><span class="icon-heart-o"></span></li>

<li><span class="icon-sign-out"></span></li>

<li><span class="icon-linkedin-square"></span></li>

<li><span class="icon-thumb-tack"></span></li>

<li><span class="icon-external-link"></span></li>

<li><span class="icon-sign-in"></span></li>

<li><span class="icon-trophy"></span></li>

<li><span class="icon-github-square"></span></li>

<li><span class="icon-upload"></span></li>

<li><span class="icon-phone"></span></li>

<li><span class="icon-square-o"></span></li>

<li><span class="icon-bookmark-o"></span></li>

<li><span class="icon-phone-square"></span></li>

<li><span class="icon-twitter"></span></li>

<li><span class="icon-facebook"></span></li>

<li><span class="icon-github"></span></li>

<li><span class="icon-unlock"></span></li>

<li><span class="icon-credit-card"></span></li>

<li><span class="icon-rss"></span></li>

<li><span class="icon-hdd-o"></span></li>

<li><span class="icon-bullhorn"></span></li>

<li><span class="icon-bell"></span></li>

<li><span class="icon-certificate"></span></li>

<li><span class="icon-arrow-circle-left"></span></li>

<li><span class="icon-arrow-circle-right"></span></li>

<li><span class="icon-arrow-circle-up"></span></li>

<li><span class="icon-arrow-circle-down"></span></li>

<li><span class="icon-globe"></span></li>

<li><span class="icon-wrench"></span></li>

<li><span class="icon-tasks"></span></li>

<li><span class="icon-filter"></span></li>

<li><span class="icon-briefcase"></span></li>

<li><span class="icon-arrows-alt"></span></li>

<li><span class="icon-group"></span></li>

<li><span class="icon-chain"></span></li>

<li><span class="icon-cloud"></span></li>

<li><span class="icon-cut"></span></li>

<li><span class="icon-copy"></span></li>

<li><span class="icon-paperclip"></span></li>

<li><span class="icon-save"></span></li>

<li><span class="icon-square"></span></li>

<li><span class="icon-bars"></span></li>

<li><span class="icon-list-ul"></span></li>

<li><span class="icon-list-ol"></span></li>

<li><span class="icon-strikethrough"></span></li>

<li><span class="icon-underline"></span></li>

<li><span class="icon-table"></span></li>

<li><span class="icon-magic"></span></li>

<li><span class="icon-truck"></span></li>

<li><span class="icon-pinterest"></span></li>

<li><span class="icon-pinterest-square"></span></li>

<li><span class="icon-google-plus-square"></span></li>

<li><span class="icon-google-plus"></span></li>

<li><span class="icon-money"></span></li>

<li><span class="icon-caret-down"></span></li>

<li><span class="icon-caret-up"></span></li>

<li><span class="icon-caret-left"></span></li>

<li><span class="icon-caret-right"></span></li>

<li><span class="icon-columns"></span></li>

<li><span class="icon-unsorted"></span></li>

<li><span class="icon-sort-down"></span></li>

<li><span class="icon-sort-up"></span></li>

<li><span class="icon-envelope"></span></li>

<li><span class="icon-linkedin"></span></li>

<li><span class="icon-rotate-left"></span></li>

<li><span class="icon-dashboard"></span></li>

<li><span class="icon-comment-o"></span></li>

<li><span class="icon-comments-o"></span></li>

<li><span class="icon-flash"></span></li>

<li><span class="icon-sitemap"></span></li>

<li><span class="icon-umbrella"></span></li>

<li><span class="icon-paste"></span></li>

<li><span class="icon-lightbulb-o"></span></li>

<li><span class="icon-exchange"></span></li>

<li><span class="icon-cloud-download"></span></li>

<li><span class="icon-cloud-upload"></span></li>

<li><span class="icon-suitcase"></span></li>

<li><span class="icon-bell-o"></span></li>

<li><span class="icon-file-text-o"></span></li>

<li><span class="icon-plus-square"></span></li>

<li><span class="icon-angle-double-left"></span></li>

<li><span class="icon-angle-double-right"></span></li>

<li><span class="icon-angle-double-up"></span></li>

<li><span class="icon-angle-double-down"></span></li>

<li><span class="icon-angle-left"></span></li>

<li><span class="icon-angle-right"></span></li>

<li><span class="icon-angle-up"></span></li>

<li><span class="icon-angle-down"></span></li>

<li><span class="icon-desktop"></span></li>

<li><span class="icon-laptop"></span></li>

<li><span class="icon-tablet"></span></li>

<li><span class="icon-mobile-phone"></span></li>

<li><span class="icon-circle-o"></span></li>

<li><span class="icon-quote-left"></span></li>

<li><span class="icon-quote-right"></span></li>

<li><span class="icon-spinner"></span></li>

<li><span class="icon-circle"></span></li>

<li><span class="icon-mail-reply"></span></li>

<li><span class="icon-github-alt"></span></li>

<li><span class="icon-folder-o"></span></li>

<li><span class="icon-folder-open-o"></span></li>

<li><span class="icon-smile-o"></span></li>

<li><span class="icon-frown-o"></span></li>

<li><span class="icon-meh-o"></span></li>

<li><span class="icon-keyboard-o"></span></li>

<li><span class="icon-flag-o"></span></li>

<li><span class="icon-terminal"></span></li>

<li><span class="icon-code"></span></li>

<li><span class="icon-reply-all"></span></li>

<li><span class="icon-star-half-empty"></span></li>

<li><span class="icon-location-arrow"></span></li>

<li><span class="icon-crop"></span></li>

<li><span class="icon-code-fork"></span></li>

<li><span class="icon-unlink"></span></li>

<li><span class="icon-question"></span></li>

<li><span class="icon-info"></span></li>

<li><span class="icon-exclamation"></span></li>

<li><span class="icon-microphone"></span></li>

<li><span class="icon-microphone-slash"></span></li>

<li><span class="icon-shield"></span></li>

<li><span class="icon-calendar-o"></span></li>

<li><span class="icon-rocket"></span></li>

<li><span class="icon-maxcdn"></span></li>

<li><span class="icon-chevron-circle-left"></span></li>

<li><span class="icon-chevron-circle-right"></span></li>

<li><span class="icon-chevron-circle-up"></span></li>

<li><span class="icon-chevron-circle-down"></span></li>

<li><span class="icon-unlock-alt"></span></li>

<li><span class="icon-bullseye"></span></li>

<li><span class="icon-ellipsis-h"></span></li>

<li><span class="icon-ellipsis-v"></span></li>

<li><span class="icon-rss-square"></span></li>

<li><span class="icon-play-circle"></span></li>

<li><span class="icon-ticket"></span></li>

<li><span class="icon-minus-square"></span></li>

<li><span class="icon-minus-square-o"></span></li>

<li><span class="icon-level-up"></span></li>

<li><span class="icon-level-down"></span></li>

<li><span class="icon-check-square"></span></li>

<li><span class="icon-pencil-square"></span></li>

<li><span class="icon-external-link-square"></span></li>

<li><span class="icon-share-square"></span></li>

<li><span class="icon-compass"></span></li>

<li><span class="icon-toggle-down"></span></li>

<li><span class="icon-toggle-up"></span></li>

<li><span class="icon-toggle-right"></span></li>

<li><span class="icon-euro"></span></li>

<li><span class="icon-gbp"></span></li>

<li><span class="icon-dollar"></span></li>

<li><span class="icon-rupee"></span></li>

<li><span class="icon-cny"></span></li>

<li><span class="icon-ruble"></span></li>

<li><span class="icon-won"></span></li>

<li><span class="icon-bitcoin"></span></li>

<li><span class="icon-file"></span></li>

<li><span class="icon-file-text"></span></li>

<li><span class="icon-sort-alpha-asc"></span></li>

<li><span class="icon-sort-alpha-desc"></span></li>

<li><span class="icon-sort-amount-asc"></span></li>

<li><span class="icon-sort-amount-desc"></span></li>

<li><span class="icon-sort-numeric-asc"></span></li>

<li><span class="icon-sort-numeric-desc"></span></li>

<li><span class="icon-thumbs-up"></span></li>

<li><span class="icon-thumbs-down"></span></li>

<li><span class="icon-long-arrow-down"></span></li>

<li><span class="icon-long-arrow-up"></span></li>

<li><span class="icon-long-arrow-left"></span></li>

<li><span class="icon-long-arrow-right"></span></li>

<li><span class="icon-female"></span></li>

<li><span class="icon-male"></span></li>

<li><span class="icon-gittip"></span></li>

<li><span class="icon-sun-o"></span></li>

<li><span class="icon-moon-o"></span></li>

<li><span class="icon-archive"></span></li>

<li><span class="icon-bug"></span></li>

<li><span class="icon-arrow-circle-o-right"></span></li>

<li><span class="icon-arrow-circle-o-left"></span></li>

<li><span class="icon-toggle-left"></span></li>

<li><span class="icon-dot-circle-o"></span></li>

<li><span class="icon-wheelchair"></span></li>

<li><span class="icon-plus-square-o"></span></li>


</ul>