<div class="status large-1 columns">
	<span class="status hide-small-only large-12 columns"><span class="icon-star"></span></span>
</div>

<span class="fromto large-3 columns">Enslow, Michael</span>
<span class="subject large-4 columns">Let's Continue that Conversation</span>
<span class="date large-3 columns">Yesterday, 7:05 PM</span>

<div class="large-1 columns">
	<span class="attachement large-1 columns"><span class="icon-paperclip"></span></span>
</div>
