<div class="status">
	<span class="icon-star"></span>
</div>

<span class="fromto">Enslow, Michael</span>
<span class="subject">Let's Continue that Conversation</span>
<span class="date">Yesterday, 7:05 PM</span>

<div class="attachment">
	<span class="icon-paperclip"></span>
</div>
