<h2 class="alpha">Only you can unlock it.</h2>
<p class="delta dim light">Cloudstead automatically sets up your very own server and then throws away the key.</p>
<p class="delta light dim rhythm-2">And it’s safe, really safe. </p>
<p><button class="large">Get Started in 3 steps</button></p>