<header class="message-header">
	<h2 class="subject delta light lighten">Let’s Continue that Conversation</h2>
	<section class="message-fromto">
		<div class="header-from">
			<strong>Michael Enslow</strong>
		</div>
		<div class="header-todate lighten">
			<span class="header-to">to Jo Adams</span>	
			<span class="header-date">Yesterday, 8:05 PM</span>
			<span class="header-attachments"><span class="icon-paperclip"></span></span>
		</div>
	</section>
</header>