<section class="message mail-view">
	<%= partial "shared/_message-header" %>

	<article class="message-content">
		<div class="message-body">
			Nearly two months in advance, the star-studded An Event Apart Chicago 2014 web design event has sold out. There are still seats available for the full-day A Day Apart, "Mobile Design Now," with Luke Wroblewski.
		</div>
	</article>

	<footer class="message-footer">
		<a href="#" class="attachment">Attachment</a>
	</footer>
</section>