<div class="row">
	<div class="large-12 columns">
		<header class="text-center">
			<p class="light beta">a private cloud platform, so simple and affordable <br> anyone can use it. </p>
		</header>
	</div>
</div>

<div class="circles row text-center">
	<div class="large-4 columns">
		<div class="circle"><img src="images/image1.png" /></div>
		<h3 class="gamma light">mail</h3>
		<p>Spam protection, powerful search and integrated calendars help you get more done, no ads and plenty of storage.</p>
	</div>

	<div class="large-4 columns">
		<div class="circle secondary"><img src="images/image2.png" /></div>
		<h3 class="gamma light">files</h3>
		<p>Save files, access them from any device and share them instantly with teammates. No more sending attachments or merging different versions.</p>
	</div>

	<div class="large-4 columns">
		<div class="circle warning"><img src="images/image3.png" /></div>
		<h3 class="gamma light">calendar</h3>
		<p>Spend less time planning and more time doing with shareable calendars that integrate seamlessly so you always know what's next.</p>
	</div>
</div>