<nav class="sidenav">
	<a href="#" class="button alert">Compose</a>
	<ul>
		<li><a href="#">Inbox</a></li>
		<li><a href="#">Starred</a></li>
		<li><a href="#">Important</a></li>
		<li><a href="#">Sent</a></li>
		<li><a href="#">Drafts</a></li>
	</ul>
</nav>
