<div class="row">
	<nav class="tab-menu large-12 columns">
		<ul class="inline-list">
			<li><a href="/">Library</a></li>
			<li><a href="page.html">Page 1</a></li>
			<li><a href="page2.html">Page 2</a></li>
		</ul>
	</nav>
</div>
