<section class="toolbar">
	<div class="actions left">
		<a class="button icon-button back"><span class="icon-caret-left"></span> Back</a>
		<a class="button icon-only checkmail"><span class="icon-rotate-left"></span></a>
	</div>

	<nav class="pagination right">
		<a class="button icon-only previous"><span class="icon-angle-left"></span></a>
		<a class="button icon-only next"><span class="icon-angle-right"></span></a>
	</nav>
</section>