<ul>
	<li><a href="#"><span class="icon-search"></span> <span class="show-for-xxlarge-up">Search</span></a></li>
	<li><a href="#"><span class="icon-gear"></span> <span class="show-for-xxlarge-up">Settings</span></a></li>
	<li><img src="http://placehold.it/45x45"></li>
</ul>	