<section class="app-bar">
<nav class="top-bar" data-top-bar>
	<section class="tab-bar-section show-for-small-only">
		<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
	</section>

	<section class="top-bar-section show-for-medium-up left">
		<%= partial "shared/_logo" %>
		<%= partial "shared/_apps" %>
	</section>

	<section class="top-bar-section show-for-medium-up right">
	<%= partial "shared/_tools" %>
	</section>
</nav>
</section>

<aside class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Cloudstead</label></li>
		<li><a href="#">Mail</a></li>
		<li><a href="#">Files</a></li>
		<li><a href="#">Calendar</a></li>
	</ul>
</aside>